@font-face {
	font-family: 'Pipe Dream';
	src: url('/PipeDream.woff2') format('woff2'),
		url('/PipeDream.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

header {
	display: flex;
	justify-content: center;
	margin: 18px 0;
	position: relative;
}

header h1,
header h2 {
	font-family: 'Pipe Dream';
	margin: 0;
	text-shadow: var(--whiteA8) 3px 3px 0;
}

header h1 {
	font-size: 3.5rem;
}

header h2 {
	font-size: 2.4rem;
}

header h2 :nth-child(4n),
header h1 :nth-child(4n + 1) {
	color: rgb(98, 182, 53);
}

header h2 :nth-child(4n + 1),
header h1 :nth-child(4n) {
	color: rgb(218, 52, 94);
}

header h2 :nth-child(4n + 2),
header h1 :nth-child(4n + 2) {
	color: rgb(19, 140, 224);
}

header h2 :nth-child(4n + 3),
header h1 :nth-child(4n + 3) {
	color: rgb(253, 212, 15);
}

.header:hover {
	text-decoration: none;
}

.bg {
	background-image: url('/bg.png');
	background-position-y: -230px;
	position: absolute;
	width: 100%;
	height: 200px;
	opacity: 0.35;
	animation-duration: 20000ms;
	animation-name: bgPan;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.bg-fade {
	position: absolute;
	width: 100%;
	height: 200px;
	background: linear-gradient(
		to bottom,
		transparent,
		var(--background-colour)
	);
}

@keyframes bgPan {
	from {
		background-position-x: 0%;
	}
	to {
		background-position-x: calc(100% + 100vw);
	}
}
