html,
body {
	--text-colour: white;
	--background-colour: rgb(0, 0, 20);

	color: var(--text-colour);
	background-color: var(--background-colour);

	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;

	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 50px;
}

/* reset */
input,
button,
a {
	all: unset;
}

a {
	color: blue;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.content {
	width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header:hover {
	cursor: pointer;
}

.footer a {
	color: white;
}

.footer a:hover {
	text-decoration: none;
}

.footer {
	box-shadow: 0 0 0 1px var(--whiteA9);
}

.error .stderr {
	color: #da345e;
}

code::before,
code::after {
	content: '`';
}

.error code::before,
.error code::after {
	content: initial;
}
