.intro {
    max-width: 40ch;
    font-family: UI;
}

.editor {
    max-width: 65ch;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.editor-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.editor-inner {
    display: flex;
}

.editor-sidebar {
    display: flex;
    flex-direction: column;
    width: 14ch;
    background-color: rgba(0, 0, 0, 0.08);
}

.editor-content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    min-height: 350px;
}

.editor-save {
    display: flex;
    justify-content: center;
    gap: 1em;
}
