@font-face {
    font-family: 'UI';
    src: url('/font.woff2') format('woff2'),
        url('/font.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

header {
    font-family: UI;
}
