.footer {
	margin-top: auto;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	font-size: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer span {
	padding: 0.5em;
}

.footer .source svg {
	padding-left: 0.3em;
}

.footer svg {
	height: 1em;
	position: relative;
	top: 0.17em;
}

.footer a {
	cursor: pointer;
}

.footer a:hover {
	border-bottom: solid 1px white;
}
