.TooltipContent {
	border-radius: 4px;
	padding: 10px 15px;
	font-size: 13px;
	line-height: 1;
	color: black;
	background-color: white;
	box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	user-select: none;
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
}
.TooltipContent[data-state='delayed-open'][data-side='top'] {
	animation-name: slideDownAndFade;
}
.TooltipContent[data-state='delayed-open'][data-side='right'] {
	animation-name: slideLeftAndFade;
}
.TooltipContent[data-state='delayed-open'][data-side='bottom'] {
	animation-name: slideUpAndFade;
}
.TooltipContent[data-state='delayed-open'][data-side='left'] {
	animation-name: slideRightAndFade;
}

.TooltipArrow {
	fill: white;
}

@keyframes slideUpAndFade {
	from {
		opacity: 0;
		transform: translateY(2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRightAndFade {
	from {
		opacity: 0;
		transform: translateX(-2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideDownAndFade {
	from {
		opacity: 0;
		transform: translateY(-2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideLeftAndFade {
	from {
		opacity: 0;
		transform: translateX(2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.HoverCardContent {
	border-radius: 6px;
	padding: 0.8em;
	background-color: white;
	color: black;
	box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.HoverCardContent[data-side='top'] {
	animation-name: slideDownAndFade;
}
.HoverCardContent[data-side='right'] {
	animation-name: slideLeftAndFade;
}
.HoverCardContent[data-side='bottom'] {
	animation-name: slideUpAndFade;
}
.HoverCardContent[data-side='left'] {
	animation-name: slideRightAndFade;
}

.HoverCardArrow {
	fill: white;
}

/*
.DropdownMenuContent {
	height: 400px;
	overflow: scroll;
}
*/

.DropdownMenuContent,
.DropdownMenuSubContent {
	min-width: 200px;
	background-color: white;
	border-radius: 6px;
	padding: 4px;
	box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
		0px 10px 20px -15px rgba(22, 23, 24, 0.2);
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
}
.DropdownMenuContent[data-side='top'],
.DropdownMenuSubContent[data-side='top'] {
	animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side='right'],
.DropdownMenuSubContent[data-side='right'] {
	animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side='bottom'],
.DropdownMenuSubContent[data-side='bottom'] {
	animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side='left'],
.DropdownMenuSubContent[data-side='left'] {
	animation-name: slideRightAndFade;
}

.DropdownMenuItem,
.DropdownMenuCheckboxItem,
.DropdownMenuRadioItem,
.DropdownMenuSubTrigger {
	font-size: 12px;
	line-height: 1;
	color: var(--violet10);
	border-radius: 3px;
	display: flex;
	align-items: center;
	padding: 5px;
	position: relative;
	padding-left: 18px;
	user-select: none;
	outline: none;
}
.DropdownMenuSubTrigger[data-state='open'] {
	background-color: var(--violet4);
	color: var(--violet11);
}
.DropdownMenuItem[data-disabled],
.DropdownMenuCheckboxItem[data-disabled],
.DropdownMenuRadioItem[data-disabled],
.DropdownMenuSubTrigger[data-disabled] {
	color: var(--mauve8);
	pointer-events: none;
}
.DropdownMenuItem[data-highlighted],
.DropdownMenuCheckboxItem[data-highlighted],
.DropdownMenuRadioItem[data-highlighted],
.DropdownMenuSubTrigger[data-highlighted] {
	background-color: var(--violet9);
	color: var(--whiteA12);
}

.DropdownMenuLabel {
	padding-left: 18px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 11px;
	line-height: 14px;
	color: var(--mauve11);
	user-select: none;
}

.DropdownMenuSeparator {
	height: 1px;
	background-color: var(--violet9);
	margin: 5px;
	opacity: 0.3;
}

.DropdownMenuItemIndicator {
	position: absolute;
	left: 0;
	width: 18px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.DropdownMenuArrow {
	fill: white;
}

.IconButton {
	font-family: inherit;
	height: 35px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--white11);
	background-color: var(--whiteA4);
	position: absolute;
	right: 23px;
	border-left: solid 1px var(--whiteA8);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	cursor: pointer;
}
.IconButton:hover {
	background-color: var(--whiteA8);
}

.Button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 15px 15px;
	font-size: 17px;
	line-height: 1;
	font-weight: 500;
	cursor: pointer;
	transition: box-shadow 0.3s, color 0.3s, background-color 0.3s;

	background-color: var(--violet8);
	color: white;
	box-shadow: 0 0 1px var(--whiteA9);
}

.Button:hover {
	background-color: var(--violet10);
	box-shadow: 0 0 4px var(--whiteA9);
}

.boot-up {
	display: flex;
	width: 100%;
}

.boot-up > * {
	flex: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-controls {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.SliderRoot {
	position: relative;
	display: flex;
	align-items: center;
	user-select: none;
	touch-action: none;
	width: 200px;
	height: 20px;
}

.SliderTrack {
	background-color: var(--blackA5);
	position: relative;
	flex-grow: 1;
	border-radius: 9999px;
	height: 3px;
}

.SliderRange {
	position: absolute;
	background-color: var(--blackA10);
	border-radius: 9999px;
	height: 100%;
}

.SliderThumb {
	display: block;
	width: 20px;
	height: 20px;
	background-color: white;
	box-shadow: 0 2px 10px var(--blackA7);
	border-radius: 10px;
}
.SliderThumb:hover {
	background-color: var(--violet3);
}
.SliderThumb:focus {
	outline: none;
	box-shadow: 0 0 0 5px var(--blackA8);
}

.CheckboxRoot {
	background-color: white;
	width: 15px;
	height: 15px;
	line-height: 0;
	border-radius: 4px;
	margin-right: 6px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 10px var(--blackA7);
}

.CheckboxIndicator {
	color: var(--blackA12);
	line-height: 0;
}

.Label {
	color: white;
	padding-left: 8px;
	font-size: 15px;
	line-height: 1;
}

.SelectTrigger {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 6px;
	font-size: 13px;
	line-height: 1;
	gap: 5px;
	background-color: white;
	color: var(--violet10);
	box-shadow: 0 2px 10px var(--blackA7);
}
.SelectTrigger:hover {
	background-color: var(--mauve9);
}
.SelectTrigger:focus {
	box-shadow: 0 0 0 2px black;
}
.SelectTrigger[data-placeholder] {
	color: var(--violet9);
}

.SelectIcon {
	color: Var(--violet11);
}

.SelectContent {
	overflow: hidden;
	background-color: white;
	border-radius: 6px;
	box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
		0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.SelectViewport {
	padding: 5px;
}

.SelectItem {
	font-size: 13px;
	line-height: 1;
	color: var(--violet10);
	border-radius: 3px;
	display: flex;
	align-items: center;
	height: 25px;
	padding: 0 35px 0 25px;
	position: relative;
	user-select: none;
}
.SelectItem[data-disabled] {
	color: var(--mauve8);
	pointer-events: none;
}
.SelectItem[data-highlighted] {
	outline: none;
	background-color: var(--violet10);
	color: var(--whiteA12);
}

.SelectLabel {
	padding: 0 25px;
	font-size: 12px;
	line-height: 25px;
	color: var(--mauve11);
	user-select: none;
}

.SelectSeparator {
	height: 1px;
	background-color: var(--violet6);
	margin: 5px;
}

.SelectItemIndicator {
	position: absolute;
	left: 0;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.SelectScrollButton {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	background-color: white;
	color: var(--violet11);
	cursor: default;
}

.LabelRoot {
	font-size: 15px;
	font-weight: 500;
	line-height: 35px;
	color: white;
}

.Input {
	flex-grow: 1;
	border-radius: 4px;
	font-size: 15px;
	line-height: 1;
	color: white;
	background-color: var(--whiteA5);
	box-shadow: 0 0 0 1px var(--whiteA9);
	overflow: hidden;
	display: flex;
	align-items: center;
	padding: 0 10px;
}

.Input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px rgb(22, 22, 39) inset,
		0 0 0 1px var(--whiteA9) !important;
	-webkit-text-fill-color: white !important;
	caret-color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
}

.Input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 30px rgb(22, 22, 39) inset, 0 0 3px 1px white !important;
}

.image-input {
	padding: 0;
}

.Input:focus,
.Input.focus {
	box-shadow: 0 0 3px 1px white;
}

input.Input::placeholder,
label.Input.placeholder > div,
label.Input.placeholder > span {
	opacity: 0.4;
	color: white;
}

label.Input:not(.placeholder) .placeholder {
	opacity: 0;
}

label.Input {
	cursor: pointer;
}

.NavigationMenuRoot {
	position: relative;
	display: flex;
	justify-content: center;
}

.NavigationMenuList {
	display: flex;
	justify-content: center;
	background-color: var(--whiteA5);
	border-radius: 6px;
	list-style: none;
	box-shadow: 0 0 0 1px var(--whiteA9);
	padding: 0 2px;
	margin: 0;
}

.NavigationMenuList li {
	margin: 4px 2px;
}

.NavigationMenuLink {
	padding: 8px 12px;
	outline: none;
	user-select: none;
	font-weight: 500;
	line-height: 1;
	border-radius: 4px;
	font-size: 15px;
	color: var(--whiteA12);
	display: block;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.NavigationMenuLink.active {
	background-color: var(--violet8);
}
.NavigationMenuLink:hover {
	background-color: var(--violet10);
}

.NavigationMenuList a:hover {
	text-decoration: none;
}
.NavigationMenuLink label {
	cursor: pointer;
}

.Flex {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.Flex2Columns > * {
	flex: 50%;
}

.FlexThirds > *:first-child {
	flex-basis: 42%;
}

.FlexThirds > * {
	flex-basis: 58%;
}

.hidden {
	display: none;
}
