html,
body {
	--background-colour: rgb(0, 0, 20);

	background-color: var(--background-colour);

	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 18px;
}

.content {
	width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

form,
.content {
	gap: 18px;
}

.header:hover {
	cursor: pointer;
}

.error .stderr {
	color: #da345e;
}

code::before,
code::after {
	content: "`";
}

.error code::before,
.error code::after {
	content: initial;
}
